.product-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  text-align: left;
  padding: 10px;
}

.product-card .right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.product-card p {
  color: rgb(87, 87, 87);
}

.product-card img {
  max-width: 110px;
}

@media (max-width: 768px) {
  .product-card {
    width: 90%;
  }
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-card span {
  color: blue;
  font-weight: 700;
  margin-top: 5px;
}
